# Node.js dependencies
node_modules/
api/node_modules/

# Mac OS files
.DS_Store

# Vercel specific files
.vercel/

# Variables de entorno (credenciales)
.env
.env.local
.env.*.local

# Archivos de sistema
Thumbs.db
